@charset "UTF-8";
@import "./reset.css";
:root {
		--primary-color: #f9c02d;
		--secondary-color: #000;
		--third-color: #666;
		--fourth-color: #2297D9;
		--text-color: #fff;
}

html { font-size: 20px; }
/* ========== popup style =============== */
#popup{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vm;   /*00%랑 같은 말*/ 
	height: 100vh;
	z-index: 9999; /*포지셔닝  */
}
	
#popup.bg{
	background-color: rgba(0,0,0, .3);
	
	
}

.content{
	position: absolute;
	width: 940px;
	height: 530px;
	left: 50%;
	top: 50%
	margin-left  calc(-940px/2);
	margin-right:  calc(-530px/2);
}

#close{
	position:  absolute;
	width : 100px;
}
/* ========== google font icon style =============== */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
	font-family: "Noto Sans KR", sans-serif;
	color: #222;
	line-height: 1.5;
	letter-spacing: -1px;	
	/*overflow: hidden;*/
}

.header-top {
	max-width: 1190px;
	min-height: 200px;
	margin: 0 auto;
	position: relative;
}
.links {
	float: left;
	margin: 50px 0 0 0;
}
.links li, .icons li {
	float: left;
}

.links li:nth-child(2), .icons li:nth-child(2){
	margin: 0 .5rem;
}


.links li a{
	font-size:  .7rem;
	color: #666666;
	font-weight: 500;
}

.links li a:hover{
	color: #000000;  /*글자가 갖다대면 변화 */
}
.logo {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: -8px;
}
.icons {
	float: right;
	margin: 70px 0 0 0;
}

.header-bottom {
	border-top: 2px solid var(--primary-color);
	clear: both;
	
}


#gnb{
	width: 600px;
	margin: 0 auto;
	overflow:hidden;
}



#gnb li{
	float: left;
	width: 150px;
	text-align: center;
	/*padding: .625rem 0;*/
}

#gnb li a {
	display:block;
	padding: .625rem 0;
	font-size:  .9rem;
	color : var(--primary-color);
	font-weight: 900;	
}  /* 폰트는 상속이 된다 문자크기 18px,  기준은 20px  (18/20)rem 상대값*/


#gnb li a:hover {
	color: #000000;   /*값이 반복되면 00,66 가능  */
	
}

/*==========================video==================================  */

.video-wrap{
	width: 920px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}

.characters {
	position: absolute;
	top : 150px;
	left: 50%;
	margin-left: calc(-378px/2);    /*원래 다른 단위 나누는 함수  */
}

/*==========================section==================================  */

.mt-100{
	margin-top: 100px !important; 
}

.mt-200{
	margin-top: 200px !important;
}

.container{
	max-width: 920px;
	margin: 0 auto;
}

.container h3, .container h3 + p{/* +,~형제 자매 */
	text-align: center;
}

.container h3 {
	color: var(--primary-color);
	text-transform: capitalize;
	font-size: 1.5rem; /*30px/20px =()*/
	font-weight: 900;
	
}

.container h3 + p{
	margin: .5rem;
	font-size: 1.5rem;
	color: var(--third-color)
}
 /*
 
 이미지 정렬방법
 .char-list{
	overflow: hidden;
}
article {
	clear: both;
}
 .char-list{
	overflow: hidden;
}
*/



.char-list::after, .carousel::after{
	content: '';
	display: block;
	clear:both;
	height: 0;
}

.char-list li{
	float: left;
	border: 1px solid var(--primary-color);
	box-sizing: border-box;
	width: calc(100%/3) ;
	overflow : hidden;
	
}


.container-fluid{
	background-color: var(--fourth-color);
	position: relative;
}

.prev{
	position: absolute;
	left: 10%;
	top:calc(50% - 20px);
	color:var(--text-color);
	border: 1px solid #ccc;
	padding: 1rem;
}

.carousel {
	max-width: 920px;
	margin: 0 auto;
	padding: 1rem 0;
}

.carousel div{
	float: left;
}

.attach-img{
	width: 30%
	margin-right 2%;
}
.user-post{
	width: calc(100%- 300px);
	color: var(--text-color);
}

.next {
	position: absolute;
	right: 10%;
	top: calc(50% - 20px);
	color: var(--text-color);
	border: 1px solid #ccc;
	padding: 1rem;
}


/* ===============about================  */

.synopsis{
	float: left;
	position: relative;
}

.synopsis img{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	
}

.story {
	
	border: 1px solid black;
}

table td{
	paddimng : 20px;
}
.goods-list{
	overflow:hidden;	
}

.goods-list li{
	float: left;
	box-sizing: border-box;
	width: calc(100%/3) ;
	border: 1px solid transparent;
	padding: 1rem 0;
	
}

.goods-list li:hover{
	border: 1px solid var(--primary -color);
	
}

.item-title, .item-price, .btns{
	text-align: center;
}
/* =============footer================== */
footer{
	margin: 2rem 0;
}
footer .container{
	position: relative;
}
.guide-links li{
	display: inline-block;
	font-size: .825rem;
}
.guide-links li:nth-child(2){
	margin: 0 .5rem;
}
.logo-bottom{
	position: absolute;
	right: 0;
	top: 1rem;
}